.home-ctn{
  border: 1px solid red;
  background-image: url(./img/bgi.jpg); // $$ 撞色
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  position: absolute; // 铺满一屏幕
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  &>.ctn-box{
    width: 80%;
    // height: 80%;

    border: 1px solid red;
    position: relative;
    top: 10%;
    left: 10%;
    // position: absolute;

    &>header{ // 页头
      &>nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &>.logo{
          color: rgb(255,255,255);
        }
      }
      margin-bottom: 20px;
    }

    &>section{ // 内容区域
      &>nav{
        &>table{
          width: 100%;
          // border-collapse: collapse;
          td{
            margin: 15px;
          }
        }
        &>table, &>table *{
          border: 1px solid red;
        }
      }
    }
  }
}

.my-link{
  color: rgb(255,255,255);
  padding: 3px 15px;
  display: inline-block;
  cursor: pointer;
}
.my-link~.my-link{
  margin-left: 30px;
}
.my-link:hover{
  outline: 1px solid rgba(255,255,255,0.5);
  background: rgba(255,255,255,0.2) ;
}

.my-link2{
  color: rgb(255,255,255);
  padding: 5px 20px;
  border: 1px solid rgb(255,255,255);
  border-radius: 20px;
  margin-left: 50px;
  cursor: pointer;
}
.my-link2:hover{
  // outline: 1px solid rgba(255,255,255,0.5);
  background: rgba(255,255,255,0.2) ;
}